    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input id="input-img" type="file">
        <input style="display:none" id="img-upload" name="img-upload" type="text" value="">
        <button>Upload</button>
    </form>

    <script>
        const inputImg = document.getElementById('input-img');
        inputImg.addEventListener('change', (e) => {
            const reader = new FileReader();
            reader.onload = () => {
                const imgUpload = document.getElementById('img-upload');
                imgUpload.value = reader.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        })
    </script>
</body>
</html>